* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;

}

.main {
	width: 100vw;
	height: 100vh;
	background-color: #f4fdfa;
}

.home-container {
	position: relative;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.header-container {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 0px;
	width: 100vw;
	height: 70px;
	background-color: #ccffff;
	border-bottom: 1px solid lightgray;
	box-shadow: -1px 6px 12px -4px lightgray;
	box-sizing: border-box;
	z-index: 100;
}

.header-title {
	margin-left: 1.6vw;
	font-size: large;
	font-weight: 800;
	text-shadow: -1px 1px 2px lightgray;
}

.add-task {
	margin-right: 1.6vw;
	padding: 10px 15px 10px 15px;
	font-size: large;
	font-weight: 800;
	border: .5px solid lightgray;
	border-radius: 5px;
	box-shadow: -1px 2px 4px lightgray;
	box-sizing: border-box;
	cursor: pointer;
}

/* ------dialog style------------- */
.dialog-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 100%;
	left: 50%;
	transform: translate(-50%);
	padding: 10px;
	width: 40vw;
	background-color: #ffffff;
	box-shadow: -2px 8px 16px gray;
	border-radius: 10px;
	z-index: 50;
	box-sizing: border-box;

}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dialog-heading {
	margin-top: 0px;
	margin-bottom: 1.2em;
	text-align: center;
}

.text-area {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
}

label {
	width: 30%;
	font-size: large;
	font-weight: 700;
}

.input-box {
	width: 65%;
	border-radius: 2px;
	padding: 5px;
	border: .5px solid lightgray;
	outline: 1px solid gray;
}

textarea {
	max-width: 65%;
	min-width: 65%;
}

.toggle-area {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
}

.task-toggle {
	width: 65%;
	border-radius: 2px;
	padding: 5px;
}

.form-control {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 5px;
	margin-top: 20px;

}

.btn {
	width: 45%;
	font-weight: bold;
	text-align: center;
	padding: 10px 5px 10px 5px;
	margin-bottom: 25px;
	border-radius: 5px;
	box-shadow: -1px 1px 4px gray;
	text-shadow: -1px 2px 2px lightgray;
	cursor: pointer;
	border: none;
	box-sizing: border-box;
}

.btn:hover {
	box-shadow: -2px 4px 8px lightgray;
	opacity: .75;
}

.add-btn {
	background: lightgreen;
	margin-right: 10px;
}

.cancel-btn {
	background: lightpink;
	margin-right: 10px;
}

.datePikar-box {
	border: none;
	width: 100%;
	margin: 0px;
	padding: 5px;
	outline: none;
}

.Tasks-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90vw;
	justify-content: flex-start;
	margin-top: 100px;
}

.Tasks {
	display: flex;
	/* position: absolute; */
	flex-direction: column;
	flex-wrap: wrap;
	padding: 10px;
	width: 25vw;
	min-width: 20em;
	padding: 10px;
	margin-top: 50px;
	margin-left: 50px;
	background-color: #ffffff;
	box-shadow: -2px 5px 10px gray;
	border-radius: 10px;
	overflow: hidden;
	box-sizing: border-box;
}

.task-days {
	width: 100%;
	padding: 12px;
	color: #4a7171;
}

.task-details {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

.check-box {
	width: 10%;
	padding: 6px;
}

.task-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	width: 90%;
	margin-left: 5px;
	box-sizing: border-box;
}

.task-title {
	margin-right: 5px;
	padding: 5px;
	width: 75%;
	overflow: hidden;
}

.task-control {
	margin-left: 3px;
	padding: 2.5px;
	width: 25%;
	display: flex;
	justify-content: end;
	box-sizing: border-box;
}

.delete-task {
	margin-left: 5px;
	color: #814545;
	cursor: pointer;
}

.delete-task:hover {
	color: #d63ea4;
	opacity: 75;
}

.edit-task {
	margin-left: 5px;
	color: #80e9ac;
	cursor: pointer;
}

.edit-task:hover {
	color: #22d631;
	opacity: 75;
}